:root{
    /* COLOR  */
    --red: hsl(0, 100%, 74%); 
    --green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --darkBlue: hsl(249, 10%, 26%);
    --darkBlueAlfa: hsla(249, 10%, 26%, 0.3);
    --grayishBlue: hsl(246, 25%, 77%);
    --withe: #fff;

    /* SIZE FONT  */
    --fontSmallMobile: 1.1rem;
    --fontNormalMobile: 1.5rem;
    --fontBigMobile: 2.9rem;
    --fontSmallDesk: 1.2rem;
    --fontNormalDesk: 1.6rem;
    --fontBigDesk: 5.1rem;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--red);
}
body::after{
    z-index: 0;
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../assets/images/bg-intro-mobile_v2.png);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}


/* MAIN  */
main{  
    z-index: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    width: 87%;
    max-width: 425px;
    height: auto;
}

/* MAIN -> SECTION 1  */
main .section1{
    display: grid;
    gap: 25px;
    width: 100%;
    height: auto;
    margin: 90px 0 0 0;
}
main .section1 h1{
    font-size: var(--fontBigMobile);
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    color: var(--withe);
}
main .section1 p{
    font-size: var(--fontNormalMobile);
    font-weight: 400;
    text-align: center;
    color: var(--withe);
}

/* MAIN -> SECTION 2  */
main .section2{
    display: grid;
    gap: 25px;
    width: 100%;
    height: auto;
    margin: 70px 0 0 0;
}
main .section2 .button-cta{
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: min-content;
    place-content: center;
    width: 100%;
    height: 88px;
    font-size: var(--fontNormalMobile);
    font-weight: 700;
    text-align: center;
    color: var(--withe);
    text-decoration: none;
    background-color: var(--Blue);
    border-radius: 12px;
    box-shadow: 0px 10px 0px var(--darkBlueAlfa);
    animation-name: buttonCTA;
}
main .section2 .button-cta span{
    font-weight: 400;
    color: var(--withe);
}




/* MAIN -> SECTION 2 --> FORM SECTION */
main .section2 .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--withe);
    border-radius: 12px;
    padding: 23px 0 23px 0;
    box-shadow: 0px 10px 0px var(--darkBlueAlfa);
    margin: 0 0 100px 0; /* TEmporal*/
}
main .section2 .form div{
    display: grid;
    grid-template-columns: 82%  18%;
    grid-template-rows: 100%;
    width: 85%;
    height: 55px;
    background-color: var(--withe);
    border-radius: 5px;
    border: 1.5px solid var(--darkBlueAlfa);
    margin: 15px 0 0 0;
}
main .section2 .form div input{
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: var(--fontNormalMobile);
    font-weight: 500;
    padding: 0 0 0 20px;
    border: none;
}
main .section2 .form div input:enabled{
    font-family: inherit;
    font-size: var(--fontNormalMobile);
    font-weight: 600;
    outline: none;
}
main .section2 .form div span{
    opacity: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/icon/icon-error.svg);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
}
main .section2 .form .letter-error{
    opacity: 0;
    width: 85%;
    font-size: var(--fontSmallMobile);
    font-weight: 500;
    text-align: end;
    font-style:italic;
    color: var(--red);
}
main .section2 .form_button{
    width: 85%;
    height: 50px;
    background-color: var(--green);
    color: var(--withe);
    border: 0;
    font-size: var(--fontNormalMobile);
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;
    margin: 15px 0 0 0;
    box-shadow: 0 5px 0 0 #31b97f;
}
main .section2 .form_terms-services{
    width: 85%;
    color: var(--grayishBlue);
    text-align: center;
    font-size: var(--fontSmallMobile);
    font-weight: 400;
    margin: 20px 0 0 0;
} 
main .section2 .form_terms-services a{
    color: var(--red);
    font-size: var(--fontSmallMobile);
    font-weight: 700;
    text-decoration: none;
} 


/* FOOTER
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
}
footer .attribution h2{
    font-size: var(--fontSmallDesk);
    color: var(--darkBlue);
    text-decoration: none;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
}
footer .attribution a{
    font-size: var(--fontSmallDesk);
    color: var(--withe);
    text-decoration: none;
    font-weight: 500;
}
 */

@media (min-width: 600px) {
    /* MAIN  */
    main{  
        max-width: 500px;
        gap: 25px;
    }
    
    /* MAIN -> SECTION 1  */  
    main .section1 h1{
        font-size: var(--fontBigDesk);
        font-weight: 700;
        line-height: 65px;
    }
}

@media (min-width: 1000px) {
    body::after{
        background-image: url(../assets/images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* MAIN  */
    main{
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;
        width: 80%;
        max-width: 1152px;
        height: 100vh;
    }
    main .section1{
        max-width: 500px;
        align-content: center;
        justify-self: start;
        margin: unset;
    }
    /* MAIN -> SECTION 1  */  
    main .section1 h1{
        font-size: var(--fontBigDesk);
        line-height: 65px;
        text-align: start;
    }
    main .section1 p{
        font-size: var(--fontNormalDesk);
        text-align: start;
    }
    main .section2{
        align-content: center;
        justify-self: end;
        max-width: 540px;
        margin: unset;
    }
    main .section2 .button-cta{
        font-size: var(--fontNormalDesk);
        font-weight: 700;
        text-align: center;
        animation-name: buttonCTA;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-delay: 3s;
    }
    @keyframes buttonCTA {
        65%{transform: scale(1); }
        70%{transform: scale(1.05); }
        100%{transform: scale(1); }
    }

    main .section2 .form{
        margin: unset;
    }
    main .section2 .form div input{
        font-size: var(--fontNormalDesk);
    }
    main .section2 .form div input:enabled{
        font-size: var(--fontNormalDesk);
    }
    main .section2 .form .letter-error{
        font-size: var(--fontSmallDesk);
    }
    main .section2 .form_button{
        font-size: var(--fontNormalDesk);
    }
    main .section2 .form_terms-services{
        font-size: var(--fontSmallDesk);
    } 
    main .section2 .form_terms-services a{
        font-size: var(--fontSmallDesk);
    } 
    
}